thesis.pdf
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
/.DS_Store
*.aux
*.bbl
*.log
*.out
*.blg
*.toc
*.gz
*.xml
*.nlo
*.lot
*.lof
*.ist
*.ind
*.ilg
*.idx
*.glo
*.acn
*.acr
*.agl
*.bbl
*.bcf
*.blg
*.alg
*.sav
*.bak
thesis-blx.bib
*.tdo
*.fls
*.fdb_latexmk
